# Hi there 👋, 
my name's Tomi. Last year I started my professional career as a software developer. For the most part, I worked (and still do) as a QA engineer for a cyberSec company's RnD dept., which meant I needed to quickly accommodate myself with web development and testing of web based apps. I quickly learnt basics and a bit of advanced methods of use for cypressJS, a ui/frontend centric e2e testing framework. 

Since last summer though, I also started learning stuff on my own, in hopes of becoming a more well-rounded developer. Being a web-app tester, I started learning basics of frontend dev, checking out different JS frameworks, also looking at webAssembly options, but ultimately landing and sticking with Svelte due to its simplicity, and heated opinion, now thanks to runes, it's fine-grained but still very simple to understand reactivity. I used svelte and sveltekit to develop my portfolio page, which u're scrolling now, and also an MVP of BottleBuddy, my very first own project. 

This year, alongside expanding on Frontend and also getting more into backend, I also plan on writing and publishing small quick reads about... Whatever honestly😅, the current dev space, future stuff I find interesting and so on. If u found this article not totally boring, be sure to come back some time, maybe I'll have another ready by then. And of course, I'll be periodically upgrading this site, and adding my new projects (be it WebApps, games or anything in between😅😁). Annnd that'll be all for this time. See ya!